# Ignore Python Cache
__pycache__/
*.pyc

# Ignore Virtual Environments
yolo-env/
venv/
env/

# Ignore Heavy AI Models (Users should download these themselves)
*.pt
model/
vosk-model-*/

# OS Files
.DS_Store